# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual env
venv/
.env/
.envrc/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/

# =========================
# Data
# =========================
# data/raw/
# *.csv

